{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1 align="center">
        {% trans 'Approve or Delete idea' %}
    </h1>
    <p>
        {{ idea.text }}
    </p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% trans "Approve" %}
        </button>
    </form>
    <form action="{{ delete_idea_url }}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            {% trans "Delete" %}
        </button>
    </form>
{% endblock %}